<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/blog.css">
</head>
<body>
    <nav id="mainNav">
        <div class="header__logo">
            <h1>Bytes<span class="logo-center">Of</span>Advice</h1>
        </div>
        <ul class="header__content">
            <li class="header__link"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Blog</a></li>
            <li class="header__link"><a class="<%= path === '/services' ? 'active' : '' %>" href="/services">Services</a></li> 
        </ul>
    </nav>

    <section class="blog__section">
        <div class="card blog__card">
            <div class="blog__image">
                <img src="https://static.toiimg.com/photo/72975551.cms">
            </div>
            <div class="blog__info">
                <ul>
                    <li>
                        <b>This is the title of my blog! </b>
                    </li>
                    <li>
                        <h5>January 1st 2021</h5>
                    </li>
                    <li>
                        <p>Artificial intelligence (AI) mimics human behaviour and cognitive functions 
                            and is currently being used to bring substantial changes to the NHS. The use 
                            of AI in the health services is on the rise, the idea is to model a real living 
                            organism with a brain; a sensory...</p>
                    </li>
                    <li>
                        <button>Read More</button>
                    </li>
                </ul>
            </div>
        </div>
    </section>

</body>
</html>