<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/services.css">
</head>
<body>
    <nav id="serviceNav">
        <div class="header__logo">
            <h1>Bytes<span class="logo-center">Of</span>Advice</h1>
        </div>
        <ul class="header__content">
            <li class="header__link"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Blog</a></li>
            <li class="header__link"><a class="<%= path === '/services' ? 'active' : '' %>" href="/services">Services</a></li> 
        </ul>
    </nav>

    <section class="services__section">
        <div class="intro__card">
            <h1>Want to <span>Stand Out</span> in today's job market? <span>Gain</span> a competetive edge with your very own <span>Resume Website</span>.</h1>
        </div>
        <div class="demo__card">
            <div class="demo-content">
                <div class="video-content">
                    <iframe src="https://youtube.com/embed/J_IYACjvs-Y" allowfullscreen></iframe>    
                    <b>Watch The Workings of a <span>Resume Website</span> Now</b>    
                </div>
                <div class="list-content">
                    <ul>
                        <li>
                            <b>Admin Access</b>
                            <p>Admin acces gives you the capabilities to update all the content within your website without ever having to touch the code.</p>
                        </li>
                        <li>
                            <b>Customizable</b>
                            <p>From changing color schemes to adding new content sections, work with me to create your ideal resume website.</p>
                        </li>
                        <li>
                            <b>So Easy</b>
                            <p>With as little as $50 and an hour of your time, owning your very own resume website has never been easier!</p>
                        </li>
                    </ul>
                    <a href="mailto:matthewsstrange@gmail.com">Get Started Now</a>
                </div>
            </div>   
        </div>
        <div class="process__card">
            <div class="process-header">
                <h1>How does the service work?</h1>
            </div>
            <div class="process-body">
                <ul>
                    <div class="process-list">
                        <li>
                            <b>Send me your order</b>
                            <p>Send along any requested changes to the default resume website template. Examples: changes to colors, titles, modified/new sections, etc.</p>
                        </li>
                        <li>
                            <b>My Response</b>
                            <p>I will respond with the total price; this will be based off the number of changes you request to the base template.</p>
                        </li>
                        <li>
                            <b>Price Confirmation</b>
                            <p>Confirm your acceptance with the price.</p>
                        </li>
                        <li>
                            <b>Content Creation</b>
                            <p>The creation of the website will begin.</p>
                        </li>
                    </div>
                    <div class="process-list" id="secondList">
                        <li>
                            <b>Review</b>
                            <p>You will review the website and make any requests for changes.</p>
                        </li>
                        <li>
                            <b>Purchase Domain Name</b>
                            <p>You will purchase a domain name for your resume website. Google Domains is my go to.</p>
                        </li>
                        <li>
                            <b>Host Website</b>
                            <p>I will host your website using a hosting service and give you access to admin rights.</p>
                        </li>
                        <li>
                            <b>Make Payment</b>
                            <p>You will make the payment for the website once it has been accepted.</p>
                        </li>
                    </div>
                </ul>
            </div>
        </div>
        <div class="contact__card">
            <div class="contact-header">
                <h1>Are You Ready To Stand Out?</h1>
            </div>
            <div class="contact-image">
                <img src="http://www.lukemurphy.info/wp-content/uploads/2019/02/arrow.png">
            </div>
            <div class="contact-button">
                <a href="mailto:matthewsstrange@gmail.com">Get Started Now</a>
            </div>
        </div>
    </section>
    <footer class="footer small text-center text-black-50"><div class="container">Copyright © BytesOfAdvice 2021</div></footer>


</body>
</html>