<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/services.css">
</head>
<body>
    <nav id="mainNav">
        <div class="header__logo">
            <h1>Bytes<span class="logo-center">Of</span>Advice</h1>
        </div>
        <ul class="header__content">
            <li class="header__link"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Blog</a></li>
            <li class="header__link"><a class="<%= path === '/services' ? 'active' : '' %>" href="/services">Services</a></li> 
        </ul>
    </nav>

    <section class="services__section">
        <div class="intro__card">
            <h1>Want to <span>stand out</span> in today's job market? <span>Gain</span> a competetive advantage with your own <span>resume website</span>.</h1>
        </div>
        <div class="description__card">

        </div>
        <div class="example__card">

        </div>
        <div class="contact__card">

        </div>
    </section>

</body>
</html>