@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

main {
  padding: 1rem;
  margin: auto;
}

form {
  display: inline;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #00695c;
    height: 5rem;
    vertical-align: middle;
}

.header a {
    position: relative;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    font-size: x-large;
    margin: auto 2rem;
}

.header .home-link {
    margin-left: auto;
}

.header form {
    position: relative;
    margin: auto 2rem;
}

.header button {
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: x-large;
    outline: none;
}

.form-control {
    margin: 1rem 0;
}
  
.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
  text-align: center;
}

.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control textarea {
    height: 40rem;
    text-align: left;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}

.product-form {
    max-width: 70%;
    margin: auto;
    display: block;
}

.login-form {
    width: 30rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.button-control {
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 0.25rem 1rem;
    text-decoration: none;
    font: inherit;
    border: 1px solid #00695c;
    color: #00695c;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover,
.btn:active {
background-color: #00695c;
color: white;
}

.blog-card {
    width: 100rem;;
    height: auto;
    max-width: 90%;
    margin: auto;
    display: inline-block;
    margin: 2rem;
}

.blog-card .card__order {
    height: auto;
    width: 5%;
    position: relative;
    float: left;
    text-align: center;
    padding: 1rem;
}

.blog-card .card__blog {
    min-width: 10rem;
    height: auto;
    width: 70%;
    position: relative; 
    float: left;
    padding: 1rem;
}

.blog-card .card__title {
    width: 70%;
    min-width: 10rem;
    float: left;
    padding-left: 1rem;
    padding-top: 1rem;
}


.blog-card .card__actions {
    min-width: 5rem;
    width: 25%;
    height: auto;
    position: relative;
    float: left;
    padding: 1rem;
    text-align: right;
}

.card__blog li {
    list-style-type: none;
}

.card__button {
    padding: 1rem;
    text-align: center;
}
.card__button a {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
}