.side__bar {
    height: 100rem;
    background-color: white;
    position: relative;
    width: auto;
    float: left;
    padding: 1rem;
    width: 15%;
}

.side__title {
    text-align: center;
    color: rgb(81, 132, 167);
    font-size: x-large;
}

.side__bar li {
list-style-type: disc;
}

.side__bar input {
    border: none;
    background-color: white;
}

.blog__section {
    height: 100rem;
    background-color:white;
    width: 60%;
    margin: 0 auto;
    position: relative;
    margin-top: 8rem;
    padding: 2rem;
    border-left: 2px solid rgb(81, 132, 167, .2);
    border-right: 2px solid rgb(81, 132, 167, .2);
    padding: 1rem;
}

.blog__card {
    position: relative;
    display: table;
    width: auto;
    margin: 0 auto;
    height: 10rem;
    padding: .5rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.blog__card .blog__image {
    position: relative;
    display: table-cell;
    width: 15rem;
    height: inherit;
    width: auto;
    padding: .5rem;
}

.blog__image img {
    position: relative;
    width: auto;
    height: 100%;
    border-radius: 10px;
}

.blog__card .blog__info {
    position: relative;
    height: inherit;
    display: table-cell;
    width: auto;
    vertical-align: top;
}

.blog__info ul {
    padding-inline-start: 20px;
}

li {
    list-style-type: none;
}

.blog__info h5 {
    color:rgb(81, 132, 167);
}

.blog__section h5 {
    color:rgb(81, 132, 167);   
}


.blog__info button {
    font: inherit;
    border: 1px solid rgb(81, 132, 167);
    color: rgb(81, 132, 167);
    background: white;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    padding: 0.25rem 1rem;
    margin-top: .5rem;
}

.blog__info button:hover,
.blog__info button:active {
background-color: rgb(81, 132, 167);
color: white;
}

.blog__title {
    font-size: x-large;
}