.side__bar {
    height: auto;
    background-color: white;
    position: relative;
    width: auto;
    float: left;
    padding: 1rem;
    width: 15%;
}

.side__title {
    text-align: center;
    color: rgb(81, 132, 167);
    font-size: x-large;
}

.side__bar li {
list-style-type: disc;
}

.side__bar input {
    border: none;
    background-color: white;
}

#mainBlogs {
    height: auto !important;
    min-height: 89%;
    background-color:white;
    width: 60%;
    margin: 0 auto;
    position: relative;
    margin-top: 8rem;
    padding: 2rem;
    border-left: 2px solid rgb(81, 132, 167, .2);
    border-right: 2px solid rgb(81, 132, 167, .2);
    padding: 1rem;
}

#chosenBlog {
    height: auto;
    background-color:white;
    width: 50%;
    margin: 0 auto;
    position: relative;
    margin-top: 8rem;
    padding: 2rem;
    border-left: 2px solid rgb(81, 132, 167, .2);
    border-right: 2px solid rgb(81, 132, 167, .2);
    padding: 1rem;
}

#chosenBlog img {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
}

.blog__card {
    position: relative;
    display: table;
    width: auto;
    margin: 0 auto;
    height: 10rem;
    padding: .5rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.blog__card .blog__image {
    position: relative;
    display: table-cell;
    height: auto;
    width: 35%;
    padding: .5rem;
}

.blog__image img {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.blog__card .blog__info {
    position: relative;
    height: inherit;
    display: table-cell;
    width: 65%;
    vertical-align: top;
}

.blog__info ul {
    padding-inline-start: 20px;
}

li {
    list-style-type: none;
}

.blog__info h5 {
    color:rgb(81, 132, 167);
}

.blog__section h5 {
    color:rgb(81, 132, 167);   
}


.blog__info button {
    font: inherit;
    border: 1px solid rgb(81, 132, 167);
    color: rgb(81, 132, 167);
    background: white;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    padding: 0.25rem 1rem;
    margin-top: .5rem;
}

.blog__info button:hover,
.blog__info button:active {
background-color: rgb(81, 132, 167);
color: white;
}

.blog__title {
    font-size: x-large;
}

.footer {
    padding: 4rem 0rem 1rem 0;
    background: white;
}

@media (max-width: 1000px) {
    .side__bar {
        display: none;
    }
}

@media (max-width: 700px) {
    .blog__info .blog-details {
        display: none;
    }
}